<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<nav class="navbar navbar-dark bg-dark" th:replace="navbar.html :: header"><span
        class="navbar-text">Navbar Placeholder</span>
</nav>
<div class="container my-3" th:object="${session.student_user}">
    <div class="row">
        <div class="col-6">
            <h1>
                <span th:text="*{getStd_username()}"></span>'s Profile
            </h1>
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="font-weight-bold">First Name:</span>
                    <span th:text="*{getStd_name()}"></span>
                </li>
                <li class="list-group-item">
                    <span class="font-weight-bold">Surname:</span>
                    <span th:text="*{getStd_surname()}"></span>
                </li>
                <li class="list-group-item">
                    <span class="font-weight-bold">Nationality:</span>
                    <span th:text="*{getStd_nationality()}"></span>
                </li>
                <li class="list-group-item">
                    <span class="font-weight-bold">Gender:</span>
                    <span th:text="${#strings.toLowerCase(session.student_user.getStd_sex())}"></span>
                </li>
                <li class="list-group-item">
                    <span class="font-weight-bold">Address:</span>
                    <span th:text="*{getStd_address()}"></span>
                </li>
                <li class="list-group-item">
                    <span class="font-weight-bold">Email:</span>
                    <span th:text="*{getStd_email()}"></span>
                </li>
                <li class="list-group-item">
                    <span class="font-weight-bold">StudentID:</span>
                    <span th:text="*{getStd_ID()}"></span>
                </li>
                <li class="list-group-item">
                    <span class="font-weight-bold">Fees:</span>
                    <a href="/student/fees">Pay fees</a>
                </li>
                <li class="list-group-item">
                    <span class="font-weight-bold">Unregister:</span>
                    <a href="/student/unregister">Unregister from university</a>
                </li>
            </ul>
        </div>
        <div class="column">
            <div>
                <h2>Module Search</h2>
                <label>
                    <input type="text" class="form-control" placeholder="Insert topic"/>
                </label>
            </div>
            <div>
                <h3>Current Modules</h3>
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th> Module</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="*{getCurrentModules().isEmpty()}">
                        <td colspan="1">Not enrolled to any modules</td>
                    </tr>
                    <tr th:each="m : *{getCurrentModules()}">
                        <td>
                            <a href="/module/info/1"
                               th:href="@{/module/info/{id}(id=${m.getStmd_module().getMdl_ID()})}">
                                <span th:text="${m.getStmd_module().getMdl_name()}"> Module Name </span>
                            </a>
                        </td>

                        <td>
                            <a href="/module/info/1"
                               th:href="@{/module/unenroll/{id}(id=${m.getStmd_module().getMdl_ID()})}">
                                <span> Leave module </span>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>


                <h3>Past Modules</h3>
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th> Module</th>
                        <th> Year</th>
                        <th> Grade</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="*{getPastModules().isEmpty()}">
                        <td colspan="1">Not enrolled to any modules</td>
                    </tr>
                    <tr th:each="m : *{getPastModules()}">
                        <td>
                            <a href="/module/info/1"
                               th:href="@{/module/info/{id}(id=${m.getStmd_module().getMdl_ID()})}">
                                <span th:text="${m.getStmd_module().getMdl_name()}"> Module Name </span>
                            </a>
                        </td>
                        <td>
                            <span th:text="${m.getStmd_year()}"> 2015 </span>
                        </td>
                        <td>
                            <span th:text="${m.getGrade()}"> 34 </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>