<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<nav class="navbar navbar-dark bg-dark" th:replace="navbar.html :: header"><span
        class="navbar-text">Navbar Placeholder</span>
</nav>
<div class="container my-3">
    <div class="row">
        <div class="col-6" th:object="${session.staff_user}">
            <h1>
                <span th:text="*{getStf_username()}">JDoe</span>'s Profile
            </h1>
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="font-weight-bold">First Name:</span>
                    <span th:text="*{getStf_name()}">John</span>
                </li>
                <li class="list-group-item">
                    <span class="font-weight-bold">Surname:</span>
                    <span th:text="*{getStf_surname()}">Doe</span>
                </li>
                <li class="list-group-item">
                    <span class="font-weight-bold">Gender:</span>
                    <span th:text="${#strings.toLowerCase(session.staff_user.getStf_sex())}">male</span>
                </li>
            </ul>
        </div>
        <div class="col-6" th:object="${session.staff_user}">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th> Modules</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${modules.isEmpty()}">
                    <td colspan="3"> No Modules Available</td>
                </tr>
                <tr th:each="m : ${modules}">
                    <td>
                        <span th:text="${m.getMdl_name()}"> Name </span>
                        <a href="/module/info/1"
                           th:href="@{/module/info/{id}(id=${m.getMdl_ID()})}">
                            (view) </a>
                    </td>
                    <td>
                        <a href="/module/edit"
                           th:href="@{/module/edit/{id}(id=${m.getMdl_ID()})}">
                            edit module </a>
                    </td>
                    <td>
                        <a href="/module/grades/1"
                           th:href="@{/module/grades/{id}(id=${m.getMdl_ID()})}"> edit grades </a>
                    </td>
                </tr>

                <tr>
                    <td colspan="3"><a href="/module/edit"> Add new module </a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>