<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head th:fragment="headerfiles">
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link th:href="@{/css/styles.css}" rel="stylesheet">
    <title>Thymeleaf templates</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="header">

    <a class="navbar-brand mr-auto" href="/"> University Of Springfield</a>
    <ul class="navbar-nav">

        <li class="nav-item" sec:authorize="hasRole('Staff')">
            <a class="nav-link" href="/staff/profile">Profile</a>
        </li>
        <li sec:authorize="hasRole('Staff')" class="nav-item">
            <!--suppress HtmlUnknownTarget -->
            <a class="nav-link" href="/staff/logout">Log out</a>
        </li>
        <li sec:authorize="hasRole('Student')" class="nav-item">
            <a class="nav-link" href="/student/profile">Profile</a>
        </li>
        <li sec:authorize="hasRole('Student')" class="nav-item">
            <!--suppress HtmlUnknownTarget -->
            <a class="nav-link" href="/student/logout">Log out</a>
        </li>
        <li class="nav-item" sec:authorize="isAnonymous()">
            <a class="nav-link" href="/staff/login">Staff</a>
        </li>
        <li sec:authorize="isAnonymous()" class="nav-item">
            <a class="nav-link" href="/student/login">Student</a>
        </li>
    </ul>
</nav>
</body>
</html>