<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Module Info</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<nav class="navbar navbar-dark bg-dark" th:replace="navbar.html :: header"><span
        class="navbar-text">Navbar Placeholder</span>
</nav>

<div class="container my-3">
    <div class="row  justify-content-start">
        <div class="col-6" th:object="${current_module}">
            <h1>
                <span th:text="*{getMdl_name()}">Module Name</span>
            </h1>
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="font-weight-bold">Module Coordinator:</span>
                    <span th:text="*{getMdl_coordinator().getStf_name() + ' ' + getMdl_coordinator().getStf_surname()}">John Doe</span>
                </li>
                <li class="list-group-item">
                    <span class="font-weight-bold">Module Topic:</span>
                    <span th:text="*{getMdl_topic()}">Topic</span>
                </li>
                <li class="list-group-item">
                    <span class="font-weight-bold">Students:</span>
                    <span th:text="*{getCurrentStudents().size() + '/' + mdl_MAXSTD}">5/10</span>
                </li>
                <li class="list-group-item">
                    <span class="font-weight-bold">Average grade:</span>
                    <span th:text="*{getAverageGrade()}">57.80</span>
                </li>
            </ul>

            <h3>
                Average grades in previous years
            </h3>

            <ul class="list-group">
                <li th:if="*{getAllYears().isEmpty()}" class="list-group-item">
                    <span class="font-weight-bold">No previous module data</span>
                </li>
                <li th:each="y : *{getAllYears()}" class="list-group-item">
                    <span class="font-weight-bold">[[${y}]]: </span>
                    <span th:text="${current_module.getAverageGrade(y)}">57.80</span>
                </li>
                <li class="list-group-item">
                    <span class="font-weight-bold">Average grade:</span>
                    <span th:text="*{getAverageGrade()}">57.80</span>
                </li>
            </ul>


        </div>

        <div th:if="${staff_user} != null and ${student_user} == null
             and ${staff_user.equals(current_module.getMdl_coordinator())}" class="col-6"
             th:object="${current_module}">
            <a href="/module/edit/1" th:href="@{/module/edit/{id}(id=*{getMdl_ID()})}"> Edit module </a>
            <h3>
                Enrolled Students
            </h3>

            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th> Name</th>
                    <th> ID</th>
                    <th> Email</th>
                </tr>
                </thead>
                <tr th:each="student : *{getCurrentStudents()}">
                    <td>
                        <span th:text="${student.getStmd_student().getStd_name() + ' ' +
                                         student.getStmd_student().getStd_surname()}">John Doe</span>
                    </td>
                    <td>
                        <span th:text="${student.getStmd_student().getStd_ID()}">12345</span>
                    </td>
                    <td>
                        <span th:text="${
                        student.getStmd_student().getStd_email()}">jdoe@example.com</span>
                    </td>
                </tr>
            </table>
        </div>

        <div th:if="${student_user} != null and ${staff_user} == null" class="col-6"
             th:object="${student_user}">
            <h3>
                Enroll to module
            </h3>
            <span th:if="${student_user.hasTakenModule(current_module)}">
                You are already enrolled or have taken this module in the past</span>
            <a th:if="${!student_user.hasTakenModule(current_module)}"
               href="/module/info/1"
               th:href="@{/module/enroll/{id}(id=${current_module.getMdl_ID()})}">
                <button type="button">Enroll</button>
            </a>
        </div>
    </div>
</div>

</body>
</html>