<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select Year</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<nav class="navbar navbar-dark bg-dark" th:replace="navbar.html :: header"><span
        class="navbar-text">Navbar Placeholder</span>
</nav>
<div class="container my-3">
    <div class="row  justify-content-start">
        <div class="col-6">
            <h1>Module Grades</h1>
            <form th:action="@{/module/grades/{id}(id=${current_module.mdl_ID})}"
                  th:object="${selected_year}" method="post">
                <label> Select Year:
                    <select th:field="*{value}">
                        <option th:each="year : ${current_module.getAllYears()}" th:value="${year}" th:text="${year}">
                            1993
                        </option>
                    </select>
                </label>
                <input type="submit" value="Select">
            </form>
        </div>
    </div>
</div>

</body>
</html>